@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}
.nav-button {
  padding: 0.5rem 1rem;
  color: white;
  background-color: transparent;
  border: none;
  border-radius: 0.25rem;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.1s ease-in-out;
}
.nav-button:hover {
  color: gray;
}
.bgimg{
  background-image: url("./rays.png");
  background-size: cover;
}
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-float {
  animation: float 2s ease-in-out infinite;
}
.text-behind {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the background color and opacity as needed */
  color: white;
  padding: 10px;
}

.text-front {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
}